.main {
    max-width: var(--screen-max);
    margin: 0 auto;
    padding: var(--spacing-m);
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Margin Top and Bottom */
.mt-0 { margin-top: 0; }
.mt-s { margin-top: var(--spacing-s); }
.mt-m { margin-top: var(--spacing-m); }
.mt-l { margin-top: var(--spacing-l); }
.mt-xl { margin-top: var(--spacing-xxxxxxl); }

.mb-0 { margin-bottom: 0; }
.mb-s { margin-bottom: var(--spacing-s); }
.mb-m { margin-bottom: var(--spacing-m); }
.mb-l { margin-bottom: var(--spacing-l); }
.mb-xl { margin-bottom: var(--spacing-xl); }