@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Dosis:wght@200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* Screen sizes */
    --screen-xs: 320px;
    --screen-s: 480px;
    --screen-m: 768px;
    --screen-l: 1024px;
    --screen-max: 1200px;
    --max-width-content: 576px;

    /* Spacing */
    --spacing-xxxs: 0.125rem; /* 2px */
    --spacing-xxs: 0.25rem; /* 4px */
    --spacing-xs: 0.5rem; /* 8px */
    --spacing-s: 0.75rem; /* 12px */
    --spacing-m: 1rem; /* 16px */
    --spacing-l: 1.25rem; /* 20px */
    --spacing-xl: 1.5rem; /* 24px */
    --spacing-xxl: 1.75rem; /* 28px */
    --spacing-xxxl: 2rem; /* 32px */
    --spacing-xxxxl: 2.5rem; /* 40px */
    --spacing-xxxxxl: 3rem; /* 48px */
    --spacing-xxxxxxl: 3.5rem; /* 56px */

    /* Border radius */
    --radius-xs: 1px;
    --radius-s: 2px;
    --radius-m: 4px;
    --radius-l: 8px;
    --radius-round: 50%;

    /* Typography */
    --font-fallback: helvetica, arial, sans-serif;
    --font-normal: 'Crimson Text', var(--font-fallback);
    --font-special: 'Figtree', var(--font-fallback);

    --weight-normal: 400;
    --weight-medium: 600;
    --weight-bold: 700;

    --line-height-s: 1.5rem;
    --line-height-m: 1.75rem;
    --line-height-l: 2rem;

    --font-size-xxxxs: 0.5rem; /* 8px */
    --font-size-xxxs: 0.625rem; /* 10px */
    --font-size-xxs: 0.75rem; /* 12px */
    --font-size-xs: 0.875rem; /* 14px */
    --font-size-s: 1rem; /* 16px */
    --font-size-m: 1.125rem; /* 18px */
    --font-size-l: 1.25rem; /* 20px */
    --font-size-xl: 1.5rem; /* 24px */
    --font-size-xxl: 1.75rem; /* 28px */
    --font-size-xxxl: 2rem; /* 32px */

    --font-style-normal: normal;
    --font-style-italic: italic;

     /* Light Theme (Rosé Pine Dawn) */
    --color-background: #faf4ed;
    --color-surface: #fffaf3;
    --color-text: #575279;
    --color-text-light: #797593;
    --color-primary: #eb6f92; /* Rosy Pink */
    --color-secondary: #f6c177; /* Warm Gold */
    --color-accent: #9ccfd8; /* Muted Teal */
    --color-border: #dfdad9;
}


/* Dark Theme (Rosé Pine Moon) */

@media (prefers-color-scheme: dark) {
    :root {
    --color-background: #232937;
    --color-surface: #1f1d2e;
    --color-text: #e0def4;
    --color-text-light: #908caa;
    --color-primary: #eb6f92;
    --color-secondary: #f6c177; 
    --color-accent: #9ccfd8;
    --color-border: #332e41;
  }
}
