$primaryColor: #fff;
$secondaryColor: #75D9B5;
$accentColor: #FF795A;
$btnColor:  #75D9B5;
$lightColor: #F8F6A9 ; 
$contactColor: #E2E3E9;

$font-basic: Source Sans Pro, sans-serif;
$font-decor: Alegreya Sans, sans-serif;


#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
	top: 0px;
}

h1, h2, h3, .lead {
	font-family: $font-decor;
}
p {
	font-family: $font-basic;
	font-size: 1.2em;
}

.section{
	padding: 20px;
	padding-top: 100px;
}

/*projects button with skills*/
.btn {
  background-color: $btnColor;
  color: #ffffff;
}

#contact-section {
	background-color: $accentColor;
    padding: 5%;
    background-clip: padding-box;
    width: 100%;
}

.project-content{
	margin: 10px;
	color: #135480;
}