$primaryColor: #fff;
$secondaryColor: #75D9B5;
$accentColor: #FF795A;
$btnColor:  #75D9B5;
$lightColor: #F8F6A9 ; 
$contactColor: #E2E3E9;
$yellowAccent: #FFBF00;

$firstPage: #312783;
$secondPage: #3BAC50;
$thirdPage: #f60;
$fourthPage: #E2E3E9;

$font-basic: Roboto, sans-serif;
$font-decor: Arima Madurai,;


#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	//background: #333;
	z-index:9;
	/* text-align:center; */
	color: $primaryColor;
	/* padding: 20px 0 0 0; */
	top: 0px;
}
#ul-menu {
	list-style-type: none;
}
#ul-menu li{
	display: inline-block;
	margin: 0px 10px 0px 10px;
}
#ul-menu li a {
	font-family: $font-decor;
	color: $yellowAccent;
	text-decoration: none;
}

#logo{
	width: 50px;
  	height: 45px;
  	background-image: url("../images/cone.svg");
  	background-repeat: no-repeat;
}

#logo:hover{
	opacity: 0.5;
}

h1, h2, h3, h4, .lead {
	font-family: $font-decor;
}
p {
	font-family: $font-basic;
	font-size: 1.2em;
}
#name-border{
	padding-top: 20px;
	margin: auto;
	width: 30%;
	//height: 50%;
}
#name{
	color: $primaryColor;
	border: 1px solid white;
}
.canvas-content {
	display:block;
    width:100%;
    //height:50%;
    //border: 1px solid black;
}

.section{
	padding: 20px;
	padding-top: 100px;
}

/*projects button with skills*/
.btn {
  background-color: $firstPage;
  color: #ffffff;
}

#contact-section {
	background-color: $accentColor;
    padding: 5%;
    background-clip: padding-box;
    width: 100%;
}

.project-content{
	margin: 10px;
	color: #135480;
}
.profile-pic{
	padding: 5%;
	width: 80%;
}
.about-text {
	//margin: 20px;
}