$primaryColor: #fff;
$secondaryColor: #75D9B5;
$accentColor: #FF795A;
$btnColor:  #75D9B5;
$lightColor: #F8F6A9 ; 
$contactColor: #E2E3E9;

$firstPage: #312783;
$secondPage: #CED87C;
$thirdPage: #FD4741;
$fourthPage: #E2E3E9;

$font-basic: Source Sans Pro, sans-serif;
$font-decor: Alegreya Sans, sans-serif;


#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	//background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	/* padding: 20px 0 0 0; */
	top: 0px;
}

#logo{
	width: 50px;
  	height: 45px;
  	background-image: url("../images/cone.svg");
  	background-repeat: no-repeat;
}

#logo:hover{
	opacity: 0.5;
}

h1, h2, h3, h4 .lead {
	font-family: $font-decor;
}
p {
	font-family: $font-basic;
	font-size: 1.2em;
}
#name-border{
	padding-top: 20px;
	height: 50%;
}
#name{
	color: $primaryColor;
	border: 1px solid white;
	margin: 20%;
}
.canvas-content {
	display:block;
    width:100%;
    height:50%;
    //border: 1px solid black;
}
#canvas{
	//border: 1px solid black;
}

.section{
	padding: 20px;
	padding-top: 100px;
}

/*projects button with skills*/
.btn {
  background-color: $firstPage;
  color: #ffffff;
}

#contact-section {
	background-color: $accentColor;
    padding: 5%;
    background-clip: padding-box;
    width: 100%;
}

.project-content{
	margin: 10px;
	color: #135480;
}
.profile-pic{
	padding: 5%;
	width: 80%;
}
.about-text {
	//margin: 20px;
}