{{ $currentPage := . }}
{{ $backlinks := slice }}

{{ range where site.RegularPages "Section" "posts" }}
    {{ if in .Content $currentPage.RelPermalink }}
        {{ $backlinks = $backlinks | append (dict "Title" .Title "URL" .RelPermalink "Excerpt" (substr .Summary 0 100)) }}
    {{ end }}
{{ end }}

{{ if gt (len $backlinks) 0 }}
    <aside class="text-small mt-xl">
        <h3 class="h6">Notes mentioning this note</h3>
        <ul>
            {{ range $backlinks }}
                <li class="backlink-box">
                    <a class="internal-link" href="{{ .URL }}">{{ .Title }}</a><br>
                    <div>{{ .Summary | truncate 100 }}</div>
                </li>
            {{ end }}
        </ul>
    </aside>
{{ end }}
