{{ $js := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.RelPermalink }}"></script>

<footer role="contentinfo">
      <address class="h3" property="email">
        To get in touch, write to <a class="nav-anchor" id="copy-email" onclick=copyEmailToClipboard()>calka.sylwia@gmail.com</a>
          <span id="copied-email-msg" class="copied-email-tooltip" role="status"> &#8212; copied to your clipboard</span>
      </address>

    <div class="footer-container flex flex-between gap-xxxxxxl">
       
        {{- with .Site.Params.SiteFooterText -}}
        <div class="footer-text">
            <p>
                {{ . | markdownify }}
            </p>
        </div>
        {{- end -}}
         <div class="h-card social">
            {{ partial "social.html" . -}}
        </div>
    </div>
   
</footer>
