<div class="homepage-gallery">
    {{ with index .Params.images 0 }}
        <img src="{{ . }}" alt="Image 1" class="image1">
    {{ end }}
    {{ range $index, $image := .Params.images }}
        {{ if eq $index 1 }}
            <img src="{{ $image }}" alt="Image 2" class="image2">
        {{ else if eq $index 2 }}
            <img src="{{ $image }}" alt="Image 3" class="image3">
        {{ else if eq $index 3 }}
            <img src="{{ $image }}" alt="Image 4" class="image4">
        {{ end }}
    {{ end }}
</div>