{{ define "main" }}
<div class="main-container">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <!-- Template for  list pages, like blog homepage or category pages.-->
  <ol class="t-list-ol">
    {{ range .Paginator.Pages }}
    <li>
        <span class="post-date">
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date | time.Format ":date_medium" }}
          </time>
        </span>
        <br>
        <h2 class="h4"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        <!-- {{ .Summary }} -->
    </li>
    {{ end }}
  </ol>
  {{ with .OutputFormats.Get "rss" -}}
   <!--
  <p>
      <a href="{{ .Permalink }}"><img alt="RSS feed icon" src="{{ "icons/rss.png" | absURL }}"></a>
  </p>
  -->
  {{ end }}
</div>
{{ end }}
