---
type SocialLink = {
  platform: string;
  identity?: string;
  urlPattern?: string;
  url?: string;
};

const { links = [] } = Astro.props as { links?: SocialLink[] };

const resolveUrl = (link: SocialLink) => {
  if (link.url) {
    return link.url;
  }
  if (link.urlPattern && link.identity) {
    return link.urlPattern.replace("%s", link.identity);
  }
  return "#";
};
---

<ul class="links-list">
  {links.map((link) => (
    <li>
      <a
        class="u-url"
        rel="me"
        aria-label={link.platform}
        href={resolveUrl(link)}
      >
        <i class={`fa-brands fa-${link.platform}`}></i>
      </a>
    </li>
  ))}
</ul>
