{{ $styles := "css/homepage-gallery.css" | relURL }}
<link rel="stylesheet" href="{{ $styles }}">
<div class="homepage-gallery">
    {{ $images := split (.Get "images") "," }}
    
    {{ with index $images 0 }}
        <img src="{{ . }}" alt="Image 1" class="image1">
    {{ end }}
    
    {{ range $index, $image := $images }}
        {{ if eq $index 1 }}
            <img src="{{ $image }}" alt="Image 2" class="image2">
        {{ else if eq $index 2 }}
            <img src="{{ $image }}" alt="Image 3" class="image3">
        {{ else if eq $index 3 }}
            <img src="{{ $image }}" alt="Image 4" class="image4">
        {{ end }}
    {{ end }}
</div>
