<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Flowing Fragments</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <slot name="header" />
      </header>
      <main>
        <div class="sash-wrapper">
          <div class="sash flex flex-justify-center">
            <span>WORK IN PROGRESS</span>
          </div>
        </div>
        <slot />
      </main>
      <footer>
        <slot name="footer" />
      </footer>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
