<style>  
/* Portfolio Section */
main {
  --max-width-content: 1200px;
}

#projects-section {
  display: flex;
  flex-wrap: wrap;
}
/* Project */
.project-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-item {
  width: 305px;
  padding-bottom: 30px;
}
.project-item:not(:last-child) {
  padding-right: 16px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.project-title {
  margin: 0;
}
.project-link:hover {
  background-color: var(--accent-color-light);
  border-bottom: 1px solid;
}
.project-tags {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tag {
  font-family: var(--font-decor);
  margin: 2px;
  width: fit-content;
  font-weight: 500;
  font-size: 0.9em;
  padding: 4px 6px;
  background-color: #00869133;
  border-radius: 5px;
}
.project-tags-design {
  color: var(--color-design);
}
.project-tags-lang {
  color: var(--color-languages);
}
.project-tags-frame {
  color: var(--color-frameworks);
}
.project-tags-skill {
  color: var(--color-skills);
}
    </style>
    <section id="projects-section">
      <article>
        <ul class="project-list">
          <li class="project-item">
            <div class="project-image"><img class="img-responsive" src="/images/projects-archive/recipy1.jpg"
                alt="Recipy - Recipe Recommender System"></div>
            <div>
              <span class="h-sub small">Graduation Project </span>
              <a href="http://gradshow.iadt.ie/student/N00146095.html">
                <h3 class="project-title project-link">ReciPy - Recipe Recommender System</h3>
              </a>
            </div>
            <div class="project-content">
              <p>ReciPy is a recipe recommendation system developed as a part of my Graduation Project. The goal of this
                project was to utilise machine learning techniques to develop a recommender system which can suggest new
                recipes based on user's historical behaviour. Besides development, my work included background research,
                concept development and project management.</p>
              <p>
                The user can create an account, after login the user can look for cooking inspiration and recipes. Each
                recipe can be rated. The rating system is essential for the machine learning model to learn about user’s
                preferences. The application is designed for users who look for recipes online on a daily basis.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">Python</li>
              <li class="tag project-tags-frame">Flask</li>
              <li class="tag project-tags-skill">Machine Learning</li>
              <li class="tag project-tags-frame">Scikit-learn</li>
              <li class="tag project-tags-skill">Recommender System</li>
              <li class="tag project-tags-frame">Pandas</li>
              <li class="tag project-tags-frame">Jinja</li>
              <li class="tag project-tags-frame">NumPy</li>
              <li class="tag project-tags-lang">HTML5</li>
              <li class="tag project-tags-frame">Bootstrap</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive"
                src="http://res.cloudinary.com/dr6bmrkow/image/upload/v1519378633/circles_znzbgj.png"
                alt="Multiplayer Flying Circles"></div>
            <div>
              <span class="h-sub small">Advanced JavaScript Module </span>
              <a href="https://github.com/scalka/mongo-node-express-game">
                <h3 class="project-link project-title">Multiplayer Flying Circles</h3>
              </a>
            </div>
            <div class="project-content">
              <p>Flying Circle is a game developed as a part of the Advanced JavaScript module. This project is a
                multiplayer game built with pure JavaScript (ES6). The client-side was built with ES6 and the P5.js
                library together with HTML and CSS. The server-side was built with Express server running on Node.js,
                Socket.io as a web socket and Mongo database. The game runs in a browser.</p>
              <p>
                The aim of the game is to eat all the opponents’ circles on the canvas. The trick is to eat only smaller
                circles than the player. The player can move on the screen with keyboard arrows.</p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">JavaScript ES6</li>
              <li class="tag project-tags-frame">Express</li>
              <li class="tag project-tags-frame">Node.js</li>
              <li class="tag project-tags-frame">Socket.io</li>
              <li class="tag project-tags-frame">MongoDB</li>
              <li class="tag project-tags-lang">CSS</li>
              <li class="tag project-tags-lang">HTML</li>
              <li class="tag project-tags-frame">P5.js</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive"
                src="http://res.cloudinary.com/dr6bmrkow/image/upload/v1513007582/N00146095_ProjectImage_1-2_fxtcdf.jpg"
                alt="Rtr travel planer"></div>
            <div>
              <span class="h-sub small">Third Year Graduation Project</span>
              <a href="http://showcase.iadt.ie/assets/MM3/Poster/N00146095_Poster.pdf"></a>
              <h3 class="project-link project-title">RtR &#8212; Travel planner</h3></a>
            </div>
            <div class="project-content">
              <p>Rtr was developed as a part of the third year of B.Sc. in Creative Computing at the IADT. The primary
                goal of this project was to design and implement a web application. This project consists of a number of
                interim progress reports, presentations, source code of the application and a dissertation.</p>
              <p>
                Rtr is a travelling planner which the user can use to prepare for a trip. This application lets the
                users search for interesting sights including points of interest on the way to their destination.
                Personalising the route according to the user’s preferences is possible. Moreover, it provides the user
                with sufficient information about the points of interest on the way to his destination. This information
                includes a short description, rating from other users of the system and reviews. The application then
                plots the exact route from point A to B including the selected stops and provide real-time navigation.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">JavaScript</li>
              <li class="tag project-tags-frame">HTML</li>
              <li class="tag project-tags-frame">CSS3</li>
              <li class="tag project-tags-frame">SASS</li>
              <li class="tag project-tags-frame">Google Maps API</li>
            </ul>
          </li>

          <li class="project-item">
            <div class="project-image"><img class="img-responsive"
                src="http://res.cloudinary.com/dr6bmrkow/image/upload/v1466845666/festapp1_hrj7qx.png"
                alt="FestApp Mobile application for Android"></div>
            <div>
              <span class="h-sub small">Mobile Application Development</span>
              <a href="https://github.com/scalka/FestAppTabs">
                <h3 class="project-title">FestApp &#8212; Mobile application for Android</h3>
              </a>
            </div>
            <div class="project-content">
              <p>FestApp was designed and developed as a mobile application for Android. The main goal was to implement
                the content I learned on my classes at HdM in Stuttgart: UI Design, UX Design class, Mobile Content and
                Mobile App Development. This project was conducted in two stages. The first one was familiarization with
                design principles, prototyping tools and evaluation process. The second stage was to develop an
                application which I designed.</p>
              <p>
                FestApp helps user to search for music festivals around Europe, buy tickets and keep track of events.
                The application is location-based so it is easy to find events nearby. To make usage easier, all the
                festivals are divided into four music categories: electro, hip-hop, reggae and rock.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">Java</li>
              <li class="tag project-tags-frame">Android</li>
              <li class="tag project-tags-frame">SQL Database</li>
              <li class="tag project-tags-frame">XML</li>
              <li class="tag project-tags-frame">Proto.io</li>
              <li class="tag project-tags-lang">Photoshop</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive"
                src="http://res.cloudinary.com/dr6bmrkow/image/upload/v1475246896/traveltune_ywwiii.png"
                alt="TravelTune"></div>
            <div>
              <span class="h-sub small">User Experience Design </span>
              <h3 class="project-title">TravelTune &#8212; UI functional prototype design</h3>
            </div>
            <div class="project-content">
              <p>TravelTune is a location based music app, based on Spotify's music preferences. Travellers and Music
                Lovers are able to see the events happening around them when travelling. It has a map incorporated,
                calendar and pinboard where small ads could be left. This application was designed and evaluated as part
                of UI Design module with a group of four students. From the sketch scribbles, through wireframes,
                creating personas and low fidelity prototypes, we created and evaluated functional prototype with
                Proto.io for out application.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">UI Design</li>
              <li class="tag project-tags-frame">UX Design</li>
              <li class="tag project-tags-frame">Prototyping</li>
              <li class="tag project-tags-frame">Proto.io</li>
              <li class="tag project-tags-frame">Eye tracking analysis</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive"
                src="http://res.cloudinary.com/dr6bmrkow/image/upload/v1475248037/lapica_m0vfbj.png"
                alt="Lapica - Mobile Web Application"></div>
            <div>
              <span class="h-sub small">Mobile Application Development</span>
              <h3 class="project-title">Lapica - Mobile Web Application</h3>
            </div>
            <div class="project-content">
              <p>
                Lapica is an app which helps users make better purchase decisions. The main concept is to let user send
                the picture of the item he wants to buy to friends, notify them and receive a feedback whether they
                think user should buy it or not
                I developed it with two other students. My role in the project focused on Front-end, using Ionic
                framework with AngularJS and Sass.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">JavaScript</li>
              <li class="tag project-tags-frame">AngularJS</li>
              <li class="tag project-tags-frame">CSS3</li>
              <li class="tag project-tags-frame">SASS</li>
              <li class="tag project-tags-frame">HTML5</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive" src="/images/projects-archive/azur.png"
                alt="Multiplayer Flying Circles"></div>
            <div>
              <span class="h-sub small">CMS</span>
              <a href="https://azur.ie/">
                <h3 class="project-title">Azur - Joomla Website</h3>
              </a>
            </div>
            <div class="project-content">
              <p>Designed and developed a responsive e-commerce website for a boutique,
                Gathered the requirements and conducted competitor analysis,
                Implemented payment system,
                Conducted regular meetings and presentations with the client.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">Joomla</li>
              <li class="tag project-tags-frame">CMS</li>
              <li class="tag project-tags-frame">CSS3</li>
              <li class="tag project-tags-frame">HTML5</li>
              <li class="tag project-tags-frame">HTTPS</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive" src="/images/projects-archive/disabuse.png"
                alt="Disabuse Drupal Website"></div>
            <div>
              <span class="h-sub small">Drupal website and React game</span>
              <a href="http://www.disabuse.eu/home">
                <h3 class="project-title">DisAbuse - Drupal Website</h3>
              </a>
            </div>
            <div class="project-content">
              <p>
                Building an EU wide CMS platform with Drupal for sharing multimedia resources about cybersafety and
                cyberbullying. Additionally I developed a React game based on Let’s Stop Bullying HTML prototype
                generated from Axure. The goal of this React
                application was to re-engineer the code for efficiency to avoid duplication, making it scalable and
                publishing on DisAbuse website.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-lang">Drupal</li>
              <li class="tag project-tags-frame">CMS</li>
              <li class="tag project-tags-frame">JavaScript</li>
              <li class="tag project-tags-frame">React</li>
            </ul>
          </li>
          <li class="project-item">
            <div class="project-image"><img class="img-responsive" src="/images/projects-archive/pinboard.png"
                alt="PinBoard - React Web App"></div>
            <div>
              <span class="h-sub small">React Web App</span>
              <a href="https://github.com/scalka/react-express">
                <h3 class="project-title">PinBoard - React Web App</h3>
              </a>
            </div>
            <div class="project-content">
              <p>
                Pin Board is an application developed as a part of Advanced JavaScript module. This application is built
                with JavaScript (ES6). The client-side is built with React and styled with Bulma.io. The server-side
                uses Express server running on Node.js. The Mongo database is hosted on mLab. The application is
                deployed to Heroku. Pin Board allows users to search for items from Etsy.com and save them to boards.
                Boards are collections that organise content.
              </p>
            </div>
            <ul class="project-tags">
              <li class="tag project-tags-frame">JavaScript</li>
              <li class="tag project-tags-lang">React</li>
              <li class="tag project-tags-frame">Express</li>
              <li class="tag project-tags-frame">Node.js</li>
              <li class="tag project-tags-frame">MongoDB</li>
              <li class="tag project-tags-frame">Bulma.io</li>
            </ul>
          </li>
        </ul>
      </article>
    </section>